*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: rgb(66, 66, 123);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: rgb(210, 21, 56);
}
textarea{
    width: 500px;
    height: 250px;
    background: #706d91;
    color: #fff;
    font-size: 15px;
    border: none;
    outline:none;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;

}
textarea::placeholder{
    color: #fff;
    font-size: 16px;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background:rgb(188, 69, 90); 
    color:white ;
    font-size:16px ;
    padding:10px 30px ;
    border-radius:35px ;
    border: none;
    outline:none ;
    cursor: pointer;
    align-items: center;
margin: auto;
}
button i{
    color:white;
    font-size: 16px;
}

